<mat-card class="movie-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ movie.title }}</mat-card-title>
    <mat-card-subtitle>{{ movie.genre }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ movie.imageLink }}" alt="{{ movie.title }} Poster" (error)="movie.imageLink = '/assets/default_poster.png'">
  <mat-card-content>
    <p>
      {{ movie.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="addItemToCart(movie)">
      <mat-icon>
        add_shopping_cart
      </mat-icon>
    </button>
    @if (isLoggedIn) {
      <button mat-icon-button [routerLink]="['/movies/update/', movie.id]">
        <mat-icon>
          edit_square
        </mat-icon>
      </button>
      <button mat-icon-button (click)="confirmDelete()">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    }
  </mat-card-actions>
</mat-card>
