<mat-card class="movie-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>The Fantastic Four: First Steps</mat-card-title>
    <mat-card-subtitle>Matt Shakman</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://lumiere-a.akamaihd.net/v1/images/fantastic_4_1_sheet_new_cta_dbb14854.jpeg?region=0,0,1944,2880" alt="Fanstastic Four Poster">
  <mat-card-content>
    <p>
      The Fantastic Four: First Steps is an action-adventure film that introduces Marvel's First Family in a 1960s-inspired, retro-futuristic setting, where they must balance their burgeoning hero roles with their family bond to defend Earth from the world-devouring space god, Galactus, and his herald, Silver Surfer. The film sees the team face their most daunting challenge yet, grappling with the personal stakes of the conflict as they try to save their world from a cosmic threat. 
    </p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>